:root {
    /* Colours */
    --color-text: #4e0909;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #183052;
    --color-bg: #609999;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
