:root {

    background-color:#04152d;
    /* Colors */
    --color-text: white;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #183052;
    --color-bg: #053131;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
